<div class="uk-section">
    <div class="uk-container uk-container-small">
        <a class="font-sans font-bold text-lg" [routerLink]="['/']">Home</a>
        <div class="my-10">
            <p class="text-4xl font-bold font-serif text-black">Do you want to become a Developer?</p>
            <img class="my-6" width="500" height="500" src="/assets/images/S5_Freelance.jpg">
            <div>
                <p class="my-6 text-2xl font-bold font-serif text-black">Introduction</p>
                <p class="font-mono text-lg px-4 mb-6">Ever been astonished and astounded looking at the obtainable
                    choices for a human being, even after making an immense decision of setting up the carrier in the
                    Technological field?</p>
                <p class="font-mono text-lg px-4 mb-6">Do not worry, I am just here to tell you that <span
                        class="font-bold">you are not alone!</span></p>
                <p class="font-mono text-lg px-4 mb-6">There are ample number of languages and frameworks available out
                    there in the Tech-world and a person working his way out into the Tech-world cannot and should not
                    focus on all the available options. He/She should weigh the opportunities and needs at the
                    particular time and make a wise decision by considering the future path also that He/She wants to
                    have in the Tech-World.</p>
                <p class="font-mono text-lg px-4 mb-6">Even Though, development in Technology is very difficult, one of
                    the main advantages available in the Tech-World would be that any developer understanding a
                    programming language, will be able to understand other programming languages in an easier manner, as
                    mostly the differences would be syntax and keywords only. Thus, making a proper decision is vital at
                    the beginning but will not become a disadvantage in any manner.</p>
            </div>
            <div>
                <p class="my-6 text-2xl font-bold font-serif text-black">Choosing over Mobile Apps or Web Apps</p>
                <p class="font-mono text-lg px-4 mb-6">The first and foremost decision to be made even before choosing
                    the languages and framework would be choosing the platform you would like to develop on. Most common
                    choices would be Web Developer or Native Developer?</p>
                <p class="font-mono text-lg px-4 mb-6">My suggestion would be a Web Developer. Why? Compared to Mobile
                    development web development is way easier to learn and understand in the initial stages, but as
                    mentioned before if the needs and opportunities thrive you towards Mobile development then start
                    your carrier and knowledge acquisition in Mobile development. If you progress towards Mobile
                    development you would have to learn the languages according to the previously defined frameworks for
                    the major Mobile Softwares such as Android Studio/XCode IDE.</p>
                <p class="font-mono text-lg px-4 mb-6">Another additional point from my side to choose Web development
                    would be the upcoming concept known as “Web Apps”. As they are cross-platform available and can be
                    developed using technologies and have very few drawbacks when compared to Native development.</p>
                <p class="font-mono text-lg px-4 mb-6">Another important point to be considered would be the businesses
                    out there prefer cross-platform development more than native development based long-term investment.
                </p>
            </div>
            <div>
                <p class="my-6 text-2xl font-bold font-serif text-black">Does salary obtained depend on Technology?</p>
                <p class="font-mono text-lg px-4 mb-6">You will not be able to find huge differences in salary-wise
                    here. In comparison between different developers the conclusion was that Data Science and Game
                    Developers are obtaining higher salaries than other developers. Other than that all other developers
                    such as Frontend Developer, Full Stack Developer and Native Developer are getting paid in the same
                    range. Basically, the difference in salary is created only because of the Company and Experience and
                    not the Technology mostly.</p>
            </div>
            <div>
                <p class="my-6 text-2xl font-bold font-serif text-black">Conclusion</p>
                <p class="font-mono text-lg px-4 mb-2">1) As a fresher, choosing the Technology to learn and working
                    initially is a vital thing.</p>
                <p class="font-mono text-lg px-4 mb-2">2) Work on selected technology for at least 2 years for a deeper
                    understanding.</p>
                <p class="font-mono text-lg px-4 mb-2">3) Work experience is an essential path for deeper knowledge and
                    experience.</p>
                <p class="font-mono text-lg px-4 mb-2">4) Once you have attained considerable experience, switching
                    languages and frameworks will not be a very difficult task.</p>
                <p class="font-mono text-lg px-4 mb-2">5) Choose data science and game development based-related fields
                    to earn higher.</p>
                <p class="font-mono text-lg px-4 mb-2">6) Experience and Company environment are essential ones for
                    attaining knowledge and gradual development in the Money stream eventually.</p>
            </div>
        </div>
    </div>
</div>