<div class="uk-section">
    <div class="uk-container uk-container-small">
        <a class="font-sans font-bold text-lg" [routerLink]="['/']">Home</a>
        <div class="my-10">
            <p class="text-4xl font-bold font-serif text-black">Do you want to become a Developer?</p>
            <img class="my-6" width="500" height="500" src="/assets/images/S5_Freelance.jpg">
            <div>
                <p class="my-6 text-2xl font-bold font-serif text-black">Introduction</p>
                <p class="font-mono text-lg px-4 mb-6">Ever been astonished and astounded looking at the obtainable
                    choices for a human being, even after making an immense decision of setting up the carrier in the
                    Technological field?</p>
                <p class="font-mono text-lg px-4 mb-6">Do not worry, I am just here to tell you that <span
                        class="font-bold">you are not alone!</span></p>
                <p class="font-mono text-lg px-4 mb-6">There are ample number of languages and frameworks available out
                    there in the Tech-world and a person working his way out into the Tech-world cannot and should not
                    focus on all the available options. He/She should weigh the opportunities and needs at the
                    particular time and make a wise decision by considering the future path also that He/She wants to
                    have in the Tech-World.</p>
                <p class="font-mono text-lg px-4 mb-6">Even Though, development in Technology is very difficult, one of
                    the main advantages available in the Tech-World would be that any developer understanding a
                    programming language, will be able to understand other programming languages in an easier manner, as
                    mostly the differences would be syntax and keywords only. Thus, making a proper decision is vital at
                    the beginning but will not become a disadvantage in any manner. </p>
            </div>
        </div>
    </div>
</div>