<!-- Heading Section -->
<div class="uk-section uk-section-large bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500">
    <div class="uk-container">
        <p class="text-8xl text-center font-bold font-serif text-white">VK's Blogs</p>
        <p class="text-center text-white font-bold font-mono text-4xl">We are sharing our knowledge here</p>
    </div>
</div>

<!-- Blogs Details Section -->
<div class="uk-section">
    <div class="uk-container uk-container-small">
        <div class="uk-grid uk-child-width-1-3@s" uk-grid>
            <div class="bg-gray-100 shadow-md p-6 rounded-md">
                <p class="text-xl font-bold font-mono">Do you want to become a Developer?</p>
                <p class="font-sans p-4">Ever been astonished and astounded looking at the obtainable choices for a human being, even after making an immense decision of setting up the carrier in the Technological field?</p>
                <a [routerLink]="['/blogone']" class="flex justify-end font-bold font-mono">Read More</a>
            </div>
        </div>
    </div>
</div>